/Ciclo2Java/Semana4/Ejercicio20/ClassJDBC/nbproject/private/
/Ciclo2Java/Semana4/Ejercicio20/ClassJDBC/build/
/Ciclo2Java/Semana4/Ejercicio20/Nueva Carpeta/JavaApplication1/nbproject/private/
/Ciclo2Java/Semana4/Ejercicio20/Nueva Carpeta/JavaApplication1/build/
/Ciclo2Java/Semana4/Ejercicio20/MySQLConnection/nbproject/private/
/Ciclo2Java/Semana4/Ejercicio20/MySQLConnection/build/
